stages:
  - test
  - quality
  - build
  - publish

default:
  image: eclipse-temurin:17-jdk
  cache:
    key: "${CI_PROJECT_PATH_SLUG}"
    paths:
      - .gradle/wrapper
      - .gradle/caches
  before_script:
    - chmod +x ./gradlew
    - export GRADLE_USER_HOME="$CI_PROJECT_DIR/.gradle"
    - ./gradlew --version

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.parallel=true -Dorg.gradle.configureondemand=true"
  NEXUS_RELEASES_URL: "https://artifacts.cirestechnologies.ma/nexus/repository/maven-central/"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

unit_test:
  stage: test
  script:
    - ./gradlew test --info
  artifacts:
    when: always
    reports:
      junit:
        - "**/build/test-results/test/*.xml"
    paths:
      - "**/build/reports/tests/"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

.quality:
  stage: quality
  script:
    - ./gradlew check x pmdMain -x pmdTest --info
  artifacts:
    when: always
    paths:
      - "**/build/reports/"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

build:
  stage: build
  script:
    - ./gradlew build -x pmdMain -x pmdTest --info
  artifacts:
    when: always
    paths:
      - "**/build/libs/*.jar"
      - "**/build/publications/"
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG

publish_nexus:
  stage: publish
  script:
    - |
      if [ -z "$NEXUS_USERNAME" ] || [ -z "$NEXUS_PASSWORD" ]; then
        echo "ERROR: NEXUS_USERNAME / NEXUS_PASSWORD are not set in GitLab CI variables."
        exit 1
      fi

    - >
      ./gradlew publish
      -PnexusUsername="$NEXUS_USERNAME"
      -PnexusPassword="$NEXUS_PASSWORD"
      -PnexusReleasesUrl="$NEXUS_RELEASES_URL"
      --info
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event")'
      when: on_success
    - when: never
